@using SoftSupply.Help.Models;

@{
    ViewBag.Title = "Bienvenido";
    ViewBag.SubTitle = "Centro de soporte y ayuda";
    ViewBag.MainTitle = "Centro de soporte y ayuda";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">
        A través de este sitio web, usted podrá consultar los manuales de ayuda, creados con el fin de guiar a los usuarios en el manejo y configuración de nuestros productos.
    </p>
</div>
<div class="row">
    @foreach (var item in MvcApplication.Areas.Where(a => a.Key != "Generic" || !MvcApplication.Areas.Any()))
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img alt="@(item.Value.Title)" src="@($"{HttpContext.Current.Request.Url.AbsoluteUri}/areas/{item.Key}/content/img/feature.png")">
                <div class="caption">
                    <h3>@(item.Value.Title)</h3>
                    <p>@(item.Value.Description)</p>
                    <p><a href="@($"{HttpContext.Current.Request.Url.AbsoluteUri}/{item.Key}")" class="btn btn-primary btn-block" role="button">Consultar</a></p>
                </div>
            </div>
        </div>
    }
</div>
